.rdrDateRangePickerWrapper {
    width: 100%;
    background-color: $clr6;
    border-radius: 2.5rem;
    justify-content: center;
    align-items: center;
    position: relative;

    .rdrDefinedRangesWrapper,
    .rdrMonthPicker,
    .rdrYearPicker,
    .rdrDateDisplayWrapper {
        display: none;
    }

    .rdrDateRangeWrapper {
        border-radius: 2.5rem;
    }


    .rdrMonthAndYearWrapper {
        height: 0;
        padding: 0;

        .rdrNextPrevButton,
        .rdrPprevButton,
        .rdrNextButton {
            margin: 0;
            position: absolute;
            top: 50%;
            background-color: $clr13;
            border-radius: 50%;
        }


    }

    .rdrMonthName {
        font-family: roboto bold;
        font-style: circular;
        font-size: 1rem;
        color: $clr7a;
        text-align: center;
    }

    .rdrMonths {
        gap: 1.5rem;
    }

    .rdrDays {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }

    .rdrDay {
        height: 2.5rem;
        width: 2rem;
        color: $clr7a;
        font-family: roboto bold;
        font-style: circular;
        font-size: 1rem;
        background-color: $clr6;


        .rdrStartEdge,
        .rdrEndEdge {
            background-color: $clr7;
            border-radius: 50%;
            ~.rdrDayNumber span {
                color: $clr6;
                font-family: roboto bold;
                
            }
        }

       &.rdrDayPassive {
        ~.rdrDayNumber span {
            color: $clr11;
            font-family: roboto bold;
            
        }
       }

        .rdrInRange {
            background-color: $clr11;
            border-radius: 50%;
           
            ~.rdrDayNumber span {
                color: $clr7a;
                
            }
        }

    }


}