.filter-menu-selection-btns {
    display: flex;
    gap: 10px;
    cursor: pointer;

}

.menu-modal {
    // display: flex;
    z-index: 10;
    position: absolute;
    gap: 5px;
    background-color: white;

    .rdrDefinedRangesWrapper,
    .rdrMonthPicker,
    .rdrYearPicker {
        display: none;
    }

    .rdrDay:not(.rdrDayPassive) {

        .rdrInRange,
        .rdrStartEdge,
        .rdrEndEdge {
            ~.rdrDayNumber span {
                color: black;
            }
        }

    }

    .guests {
        display: flex;
        flex-direction: column;
    }

}