.label-filter {

    // display: flex;
    // gap: 10px;
    // justify-content: center;
    // .label-container {
    //     display: grid;
    //     height: 50px;
    //     width: 50px;
    // }
    .label-container img:hover {
        cursor: pointer;
    }
}

.label-container {
    opacity: 0.5;
}

.label-container:hover {
    opacity: 1;
    transition: opacity 0.3s;
    text-decoration: underline grey;
    text-underline-offset: 7px;

}

.labels-fixed {
    position: sticky;
    margin-top: 20px;
    top: 77px;
    z-index: 9;
    background-color: #fff;
    box-sizing: border-box;
    line-height: 30px;
    /* max-height: 78px; */
    text-size-adjust: 100%;
    font-size: .75rem;
    font-weight: 700;
    /* padding: 0; */
    display: grid;
    grid-template-columns: 1fr;
    // justify-content: center;
    // align-items: center;



    &.hidden {
        background-color: transparent;
    }
}




.label-container {
    display: grid;
    justify-content: center;
    justify-items: center;
    // width: max-content;
    // width: 100%;
}

.carousel-container {
    position: sticky;
    margin-top: 10px;
    width: 100%;
    // margin-left: 10px;
    // justify-content: center;
    // margin: auto 30px;
}

.carousel-item {
    padding-right: 5px;
    // max-width: 70px;
    width: max-content;
    // width: 1%;
}

.carousel-item img {
    margin-top: 10px;
    height: 25px;
    width: 25px;
    // color: #717171;
}

.carousel-item p {
    // margin-bottom: 20px;
    // color: #717171;
    text-align: center;
    font-size: small;
}


.carousel-item:hover {
    opacity: 1;
    cursor: pointer;
    // text-decoration: underline;

    p {
        color: black
    }
}


.react-multiple-carousel__arrow--right {
    right: calc(0% + 1px);
}

.react-multiple-carousel__arrow--left {
    left: calc(0% + 1px);
}

.labels-fixed ul li{
    width: max-content;
}