.user-msg {
    color: white; 
    color: green;
    /* padding: 10px; */
    font-family: 'roboto-regular';
    font-size: 16px;
    position: fixed;
    top: 53px;
    right: 169px;
    z-index: 1000;
    margin: 5px;
}
.user-msg button {
    position: absolute;
    top: -24px;
    left: 93%;
    float: right;
    border: 0;
    border-radius: 90%;
    margin: 5px;
    /* background-color: #8080804f; */
    padding: 3px 7px;
}

