
body{
    background-color: $clr6;
    z-index: 1;
}

.main-layout{
    display: grid;
    grid-template-columns: minmax(80px, 1fr) minmax(auto, 2360px) minmax(80px, 1fr);

    &.full {
        grid-column: 1 / -1;
    }
    
    & > *:not(.full) {
        grid-column: 2;
    }

}


.gray-screen{
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
    z-index: -10;
    position: absolute;
    top: 10rem;

    &.hidden{
        display: none;
    }
}

.main-content {
    &.transparent {
        opacity: 0.5;
        .react-multi-carousel-track, .carousel-container, .labels-fixed {
            opacity: 0.5;
        }
    }

    
}



// .main-container {
//     display: grid;
//     grid-template-columns: 20px 1fr 20px;

//     > * {
//         grid-column: 2;

//         &.full {
//             grid-column: 1 /-1;
//         }
//     }

//     @include for-narrow-layout {
//         grid-template-columns: 
//             minmax(20px, 1fr)
//             minmax(auto, $mobile-breakpoint)
//             minmax(20px, 1fr);
//     }
//     @include for-normal-layout {
//         grid-template-columns: 
//             minmax(20px, 1fr)
//             minmax(auto, $narrow-breakpoint)
//             minmax(20px, 1fr);
//     }
//     @include for-wide-layout {
//         grid-template-columns: 
//             minmax(20px, 1fr)
//             minmax(auto, $normal-breakpoint)
//             minmax(20px, 1fr);
//     }
// }

// .card-grid {
//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
//     grid-gap: 20px;
// }




