.user-rentals {

    height: 100%;
    width: 100%;

    .Approved {
        color: green;
    }

    .Rejected {
        color: red;
    }

    .Pending {
        color: orange;
    }



    .btn-approve {
        border-color: green;
        color: green;
        background-color: rgb(241, 249, 241);
    }

    .btn-reject {
        border-color: red;
        color: red;
        background-color: rgb(255, 241, 241);
    }

    .text-limit {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 300px;

        &:after {
            content: "";
            display: inline-block;
            width: 0;
        }
    }



}

.rentals-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: roboto;
    color: $clr15;
    font-size: 14px;



    th,
    td {
        &:first-child {
            width: 12%;
        }

        &:nth-child(2),
        &:last-child {
            width: 15%;
        }

        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8) {
            width: 10%;
        }


    }

    tbody tr {
        border-bottom: 1px solid $clr11;

    }

    tbody td {
        height: 4.5rem;
        vertical-align: middle;
        text-align: center;

        img {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            object-fit: cover;
        }

        &:nth-child(1) {
            font-family: roboto-bold;
            font-size: 1.1rem;
            color: $clr15;

        }

        &:last-child {
            .actions-container {
                display: flex;
                gap: 1rem;
            }

            button {
                margin: 0;
                background-color: transparent;
                border-style: solid;
                border-width: 1px;
                width: 5.5rem;
                height: 2rem;
                border-radius: 0.2rem;

                &.hidden {
                    display: none;
                }
            }
        }
    }
}

.charts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 28.1rem));

    .chart-container {
        height: 18.75rem;
        width: 100%;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);

        .chart {
            height: 50%;
            margin: 0;
        }

    }
}